node_modules/
dist/
dist-ssr/
coverage/
*.local
.env
.env.*

# Logs
*.log
npm-debug.log*

# Éditeurs / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/
blob-report/
